//Colors
$dark-gray : #162b3c;
$button : #0097a7;
$dark-blue: #006064;
$blue: #1e88e5;
$off-white: #eeeeee;
$grey: #666;
//Font size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-family-word-1: OCR A Std, monospace;
$font-family-word-2: Gill Sans, sans-serif;
//Spacing
$s-size : 1.2rem;
$m-size : 1.6rem;
$l-size : 3.2rem;
$xl-size : 4.8rem;
$desktop-breakpoint: 45rem;